._feature_box {
    flex-basis: 100%;
    min-height: 450px;
    transition: flex-basis 0.4s, opacity 0.5s;
}

._feature_box::before {
    content: "";
    background-color: aqua;
}

@media screen and (min-width: 1024px) {
    figure._fold_3_overlay img {
        max-height: 390px;
    }
    figure._fold_3_overlay figcaption {
        padding-top: 4rem !important;
    }
    ._feature_box {
        flex-basis: 33.33%;
        min-height: 390px;
    }
}

@media screen and (min-width: 1750px) {
    figure._fold_3_overlay img {
        max-height: 490px;
    }
    figure._fold_3_overlay figcaption {
        padding-top: 6rem !important;
    }
    ._feature_box {
        flex-basis: 33.33%;
        min-height: 490px;
    }
}

@media screen and (min-width: 676px) and (max-width: 1024px) {
    figure._fold_3_overlay img {
        min-height: 370px;
    }
    figure._fold_3_overlay figcaption {
        padding-top: 4rem !important;
    }
    ._feature_box {
        flex-basis: 50%;
        max-height: 370px;
    }
}

figure._fold_3_overlay img {
    position: absolute;
    filter: brightness(0.8989);
}

figure._fold_3_overlay {
    position: relative;
    /* min-height: 320px; */
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: .5s;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

figure._fold_3_overlay:before {
    content: '';
    background: rgba(48, 63, 159, 0.87);
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    -ms-transform: skew(-45deg) scale(3) translateX(100%);
    transform: skew(-45deg) scale(3) translateX(100%);
}

figure._fold_3_overlay:hover:before,
figure._fold_3_overlay:focus:before {
    opacity: 1;
    -ms-transform: skew(-45deg) scale(3) translateX(0);
    transform: skew(-45deg) scale(3) translateX(0);
}

figure._fold_3_overlay:hover figcaption,
figure._fold_3_overlay:focus figcaption {
    -ms-transform: translate(0) rotate(0);
    transform: translate(0) rotate(0);
    max-height: 480px;
}

figure._fold_3_overlay figcaption {
    z-index: 1;
}

figure._fold_3_overlay figcaption {
    padding: 0 50px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    transition: .5s;
    max-height: 0;
}

.fixp {
    top: 40%;
    width: 100%;
    opacity: 1 !important;
    position: absolute;
    color: #fff;
    font-size: 27px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600 !important;
    transition: all 0.5s;
}

figure._fold_3_overlay:hover .fixp {
    transition: all 0.5s;
    top: 8%;
    z-index: 1;
}