footer {
    position: relative;
    /* height: 400px; */
}

._fold_footer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.footer-title,
.footer-link a {
    color: #fff;
}

.footer-bg::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to top, rgb(0 0 0 / 36%) 0%, rgb(0 0 0 / 23%) 10%, rgb(0 0 0 / 27%) 30%, rgb(0 0 0 / 50%) 70%, rgb(0 0 0 / 50%) 90%, rgb(0 0 0 / 52%) 100%);
}

.social-icons a {
    padding: 0.5rem 1rem;
    width: 50px;
    text-decoration: none;
    transition: background .3s, color .3s;
    position: relative;
    display: block;
    color: #fff;
    /* font-size: 28px; */
    /* line-height: 31px; */
    /* text-transform: uppercase; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    /* height: 100%; */
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icons a:hover,
.social-icons a:focus {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
}