._fold_4 {
    padding: 3rem 1rem;
    background: #ffffffa1;
}

.statistics-slider img {
    margin: 0 auto;
    width: 125px;
    height: 125px;
}

.slick-slide {
    height: auto;
}

.slick-dots {
    z-index: 2;
}