._fold_2 {
    background: linear-gradient(45deg, #E0E0E0, #9e9e9e0d, #eeeeeea3);
    width: 100%;
    min-height: 350px;
}

._fold_2 h2 {
    position: relative;
}

._fold_2::after {
    z-index: 1;
    content: '';
    position: absolute;
    z-index: -1;
    width: 20%;
    height: 100%;
    top: 0;
    background: #ddd;
    left: 5%;
    cursor: pointer;
    -webkit-transform: translate(-50%) skew(40deg) scaleX(1);
    transform: translate(-50%) skew(40deg) scaleX(1);
    transition: width .36s cubic-bezier(.175, .885, .32, 1.275);
}

._fold_2::before {
    z-index: 1;
    opacity: 0.8;
    content: '';
    position: absolute;
    z-index: -1;
    width: 20%;
    height: 100%;
    top: 0;
    background: #ddd;
    right: 0;
    cursor: pointer;
    -webkit-transform: translate(-50%) skew(40deg) scaleX(1);
    transform: translate(-50%) skew(40deg) scaleX(1);
    transition: width .36s cubic-bezier(.175, .885, .32, 1.275);
}