.custom-jumbotron {
    height: 450px;
}

.padding-margin {
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 30px;
    padding-right: 30px;
}

.custom-possibilities {
    max-width: 45.25rem;
    margin: 0 auto;
}

.custom-button {
    background: #2A72A2;
}

.custom-faq-border-bottom {
    border-bottom: 0
}

.custom-faq-card-background {
    background: #EEEDED;
}

.custom-faq-font {
    color: #1B2736;
    background: #EEEDED;
}

.custom-faq-font:hover {
    background: #427C9E;
    color: white;
}

.custom-faq-font-focus {
    color: #EEEDED;
    background: #1B2736;
}

.custom-faq-font-focus:hover {
    color: #EEEDED;
    background: #1B2736;
}