.slide-image img {
    width: 476px;
    height: 290px;
    object-fit: cover;
}

.richHistory .history-track {
    width: 476px !important;
    margin-top: 7rem;
    transform: scale(0.5);
    transition: all 0.5s;
}

.richHistory .slick-center {
    transform: scale(1);
}

.richHistory .slick-center.slick-active {
    opacity: 1;
}

.richHistory .slick-active {
    opacity: 0.5;
}

.richHistory .history-track:first-child {
    margin-left: 0;
}

.richHistory .history-track:last-child {
    margin-right: 0;
}

.richHistory .history-content {
    height: 10rem;
    color: #fff;
    background-color: #1f2641;
}

.richHistory .slick-dots {
    bottom: auto;
    top: 10px;
    max-width: 100%;
    padding: 0 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: end;
    display: flex;
    z-index: 1;
    overflow-x: auto;
}

@media screen and (min-width: 1260px) {
    .richHistory .slick-dots {
        justify-content: center;
    }
}

.richHistory .slick-dots li:after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    bottom: 4px;
    height: 12px;
    width: 12px;
    content: '';
    background: #1B2736;
    border-radius: 50%;
}

.richHistory .slick-dots li {
    margin-right: 80px;
    width: auto;
    height: auto;
}

.richHistory .slick-dots li.slick-active:after {
    bottom: 0;
    height: 20px;
    width: 20px;
    background-color: #E3EAEE;
    border: 5px solid #427C9E;
}

.richHistory .slick-dots::after {
    position: absolute;
    left: -50px;
    z-index: -1;
    bottom: 9px;
    height: 2px;
    width: calc(100% - -50px);
    content: '';
    background: #e2e2e2;
}

.richHistory .slick-dots li {
    display: block;
    position: relative;
    padding-bottom: 42px;
    text-align: center;
    white-space: nowrap;
}

.richHistory .slick-dots li span {
    padding-bottom: 42px;
    text-align: center;
    white-space: nowrap;
}