:root {
    --grey: #363E47;
    --blue: #28295d;
    --green: #62a25d;
    --yellow: rgb(255, 210, 29);
    --orange: #df682d;
    --menuTextColor: #fff;
}

.top-nav-bar-container {
    margin-top: 1em;
}

.top-nav-bar {
    display: flex;
}

.top-nav-bar-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.top-nav-bar-item {
    color: var(--menuTextColor);
    /* margin-right: 1rem;
    padding: 0.5em 1em; */
}

.dropdown-menu {
    transition: background 0.3s, box-shadow 0.3s, color 0.3s;
    background: var(--blue);
    /* background: linear-gradient(45deg, black, transparent) var(--grey); */
}

.dropdown-item {
    color: var(--menuTextColor);
    transition: background 0.3s, box-shadow 0.3s, color 0.3s;
}

.dropdown .dropdown-item {
    font-size: 1.1em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

@media screen and (min-width: 1154px) {
    .dropdown .dropdown-item {
        font-size: 1.1em;
    }
}

.dropdown-menu .dropdown-item {
    cursor: pointer;
    color: #fff;
}


/* .dropdown-menu .dropdown-item:hover {
    background-color: var(--blue);
} */

.dropdown-item:focus,
.dropdown-item:hover {
    color: #254ea4;
    text-decoration: none;
    font-weight: 500;
    background-color: #9d222200;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-content {
    transition: background 0.3s, box-shadow 0.3s, color 0.3s;
    background: var(--blue);
    /* background: linear-gradient(45deg, black, transparent) var(--grey); */
    color: #fff;
}

.list-group-item {
    background-color: transparent;
    padding: 0;
}

.top-nav-bar-item .dropdown-menu ul li:not(:last-child) {
    border-bottom: 1px solid rgba(211, 211, 211, 0.41);
}